.card-wrapper{
    border: 3px  solid var(--color-ice-blue);
    border-radius: 7em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.card-wrapper:hover{
    border-color: var(--color-light-dark-red);
    border-radius: 2rem;
    transform: scale(1.04);
    transition: all 0.5s ease-in-out;
}

.card-text{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    color: white;
    max-height: 150px;
    transition: all 0.5s ease-in-out;
}
.card-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    background-color: var(--color-bg-dark);
    transition: all 0.5s ease-in-out;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    transition: all 0.5s ease-in-out;
}

.trailer-content{
    transition: all 0.5s ease-in-out;
}
.anime-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.trailer-container iframe{
    height: 0;
    transition: all 0.5s ease-in-out;
}

.card-wrapper:hover .trailer-container iframe{
    height: 250px;
    transition: all 0.5s ease-in-out;
}
.select{
    position: absolute;
    right: 0;
    top: -4rem;
    padding: 4px;
    border-radius: 5px;
    border: none;
    outline: auto;
    outline-color: blue;
    
}

@media (max-width: 768px){
    .select{
        position: relative;
        top: 0;
        right: 0;
        left: 50%;
        transform: translate(-50%, 40%);
    }
    
}
@media (max-width:468px) {
    .select{
        display: none;
    }
    
}