#card-wrapper{
position: absolute;
left: 50%;
transform: translate(-50%);
}
.card {
    width: 1200;
    height: 800px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 2rem;
    opacity: 0.8;
    transition: all .3s;
   }
   
   .card2 {
    width: 1200px;
    height: 800px;
    color: white;
    background-color: #1a1a1a;
    border-radius: 6rem;
    transition: all .4523s;
   }
   .card2 img{
    object-fit: cover;
    border-radius: 6rem;

   }
  
   .card:hover{
    opacity: 1;
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    transform: scale(1);
    border-radius: 20px;
   }
   .card:hover .card2 {
    opacity: 1;
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    transform: scale(.997);
    border-radius: 20px;
    animation: color 1s infinite;
   }

   .card_para{
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
   }
   .details-text{
    max-width: 850px;
    font-size: var(--font-size-md);
    line-height: 1.5;
    font-weight: 500;
    text-align:left;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
   }
   
@media (max-width: 550px){
    #card-wrapper{
       display: none;
    }
   
}
