

.selected{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1000px;;
    margin: 0 auto;
    background-color: var(--color-bg-dark);
    color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}
.slide-in{
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
.close{
    position: absolute;
    top: 3rem;
    right: 4rem;
    font-size: var(--font-size-ultra);
    color: var(--color-ice-blue);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.close:hover{
    color: var(--color-light-dark-red);
}
@media (max-width: 550px){
    .selected{
        max-width: 350px;
        max-height: fit-content;
        z-index: 101;
    }
    .selected-text{
        font-size: var(--font-size-detail);
    }
}
